.menu{
    display: flex;
    flex-direction: column;
}
.menu li{
    margin-left: 25px;
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
}

.menu li h4{
    margin: 0;
}
.heading{
    color: orange;
    text-align: center;
    margin-top: 50px;
}



